<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">EVENTITY</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="/events/eventsmap">Events Map</a></li>
      <li> <a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img id="user-bg" src="/images/user-bg.png">
        </div>
        <a href="#user"><img class="circle" src="/images/profile-image.png"></a>
        <a href="#name"><span class="white-text name"></span></a>
        <a href="#email"><span class="white-text email"></span></a>
      </div>
    </li>
    <li><a href="#!"><i class="material-icons">favorite</i>Hi {{user.username}}</a><span></span></li>
    <li><a href="">{{user.email}}</a></li>
    <li><a href="#!">My panel</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Other official stores:</a></li>
    <li><a class="waves-effect" href="https://www.eventbrite.es/">Eventbrite</a></li>
     <li><a class="waves-effect" href="https://www.ticketea.com/">Ticketea</a></li>
     <li><a class="waves-effect" href="https://www.atrapalo.com/entradas/">Atrápalo</a></li>
     <li><a class="waves-effect" href="https://www.elcorteingles.es/entradas/">El corte inglés</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>  


<div class="cards-container">
  {{#each myEvents}}
  {{> eventCard this}}
  {{/each}}
</div>
<script>token = "{{mapboxToken}}"</script>